pre {
  margin: 0;
  font-family: "Bitstream Vera Sans Mono", Courier, monospace;
  font-size: 12px;
  line-height: 2em;
  text-indent: 0.5em;
}
.info {
  color: #a0b;
}
.delete {
  background-color: #fdd;
}
.insert {
  background-color: #dfd;
}
